.mavenx-card {
  .details {
    padding: 15px;
    cursor: pointer;
    .img-container {
      position: relative;
    }

    .slider-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;    
    }

    .single-image > .image-container {
      width: 100%;
    }
    .title {
      font-size: 18px;
      color: $space;
      font-weight: 500;
    }
    .thumbs {
      margin-bottom: 15px;

      @include mobile-only {
        margin-bottom: 6px;
      }
      .thumb {
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 1%;
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .counts {
  	@include flexbox;
  	@include align-items(center);

  	margin: 0;
  	padding: 0;
  	list-style: none;
  	white-space: nowrap;
    line-height: 0;
    position: relative;
    min-height: 16px;
  	color: map-get($brick-colors, link);

  	> li {
  		@include inline-block(middle);

  		+ li {
  			margin-left: 15px;
  		}
  	}

  	.glyphicon {
  		.count {
  			font-family: $montserrat-font-family;
  		}
  		&:before {
  			@include inline-block(middle);
  			margin-right: .25em;
  			color: map-get($brick-colors, icon);
  		}
  	}

    & > li + li {
      margin-left: 15px;
    }

    .price {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      color: $turquoise;
      font-size: 18px;
      text-align: right;
      margin: 0 0 13px 0;
      line-height: 18px;
      font-family: $quicksand-font-family;
    }
  }
}
