////
/// Base:Variables:Page:_header
///
/// @author K Huehn
/// @content Header values
///
////


/// @name Top navigation bar
$top-bar-dimensions:  (
                        arrow:       .3em,
                        line-height: 2.5  //(40px / $base-font-size)
                      ) !default;


/// @name Main navigation
$main-navigation:     (
                        height:      115px,
                        padding-top: 20px
                      ) !default;

/// @name Search
$search-bar-height:   56px !default;