////
/// Base:Variables:Page:_social
///
/// @author K Huehn
/// @content Social media variables
///
////

/// @name Social
$padding-base-horizontal:  12px !default;
$padding-small-horizontal: 10px !default;
$padding-large-horizontal: 16px !default;

$bs-height-base:           32px !default;
$bs-height-xs:             20px !default;
$bs-height-sm:             28px !default;
$bs-height-lg:             45px !default;
