////
/// Base:Mixins:Blocks:_svg
///
/// @author K Huehn
/// @content SVG image mixins
///
////


/// Import background mixins
@import "{}/client/style/base/mixins/blocks/background";

/// @name Lock icons
@mixin lock-icon($fill:$black) {
	$svg: '<path d="M10.55 11.64l-.974.972L8 11.035l-1.576 1.577-.973-.972 1.58-1.577-1.58-1.576.975-.972L8 9.092l1.576-1.577.973.972-1.58 1.576 1.577 1.577zM8 4.562c-1.003 0-1.94.273-2.75.743v-.743c0-1.465 1.284-2.75 2.75-2.75.733 0 1.42.32 1.925.826l.974-.973C10.143.91 9.112.437 8 .437c-2.23 0-4.126 1.897-4.126 4.125v1.873C3.02 7.405 2.5 8.67 2.5 10.063c0 3.037 2.464 5.5 5.5 5.5 3.038 0 5.5-2.463 5.5-5.5s-2.462-5.5-5.5-5.5" fill="#{$fill}" fill-rule="nonzero" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"/>';

	@include multiple-background(wrap-svg-uri($svg,'0 0 16 16'));

	@content;
}

/// @name Social icons
@mixin info-icon($fill:none, $color:$black) {
	$svg: '<path d="M15.5 8c0 4.142-3.358 7.5-7.5 7.5C3.856 15.5.5 12.142.5 8 .5 3.858 3.857.5 8 .5c4.142 0 7.5 3.358 7.5 7.5z" fill="#{$fill}" stroke="#{$color}" stroke-width=".748"/><path d="M8.727 4.215c.22 0 .407.076.56.23.15.153.226.34.226.556 0 .22-.076.407-.23.56-.153.154-.338.23-.556.23-.214 0-.398-.076-.55-.23-.155-.153-.23-.34-.23-.556 0-.216.075-.402.226-.556.152-.153.336-.23.554-.23m.332 2.46l-1.1 3.805c-.06.218-.09.36-.09.43 0 .04.014.075.05.11.03.032.063.05.1.05.06 0 .12-.028.18-.08.16-.133.353-.37.58-.718l.18.108c-.54.938-1.11 1.407-1.718 1.407-.232 0-.417-.066-.554-.197-.136-.13-.205-.295-.205-.494 0-.134.03-.3.09-.505L7.32 8.04c.07-.248.106-.433.106-.557 0-.08-.033-.15-.102-.21-.067-.06-.16-.092-.277-.092-.054 0-.118.005-.193.008l.07-.213 1.812-.294h.322z" fill="#{$color}" fill-rule="nonzero" clip-rule="evenodd" stroke-miterlimit="10"/>';

	@include multiple-background(wrap-svg-uri($svg, '0 0 16 16'));

	@content;
}

@mixin share-icon($fill:none, $color:$black) {
	$svg: '<path d="M15.5 8c0 4.142-3.358 7.5-7.5 7.5C3.858 15.5.5 12.142.5 8 .5 3.858 3.858.5 8 .5c4.142 0 7.5 3.358 7.5 7.5z" fill="#{$fill}" stroke="#{$color}" stroke-width=".748"/><path d="M9 9.442c-.212 0-.41.05-.59.136l-1.03-1.03c.076-.168.12-.354.12-.55 0-.198-.044-.385-.12-.552L8.407 6.42c.18.088.38.138.593.138.743 0 1.344-.603 1.344-1.344 0-.743-.6-1.344-1.344-1.344-.743 0-1.344.6-1.344 1.344 0 .18.036.35.1.508l-1.05 1.05c-.167-.076-.354-.118-.55-.118-.743 0-1.345.6-1.345 1.343 0 .742.605 1.344 1.348 1.344.196 0 .383-.04.55-.116l1.052 1.052c-.066.157-.103.33-.103.512 0 .742.6 1.344 1.344 1.344.745 0 1.346-.6 1.346-1.343S9.746 9.442 9 9.442" fill="#{$color}" fill-rule="nonzero" clip-rule="evenodd" stroke-miterlimit="1.414"/>';

	@include multiple-background(wrap-svg-uri($svg, '0 0 16 16'));

	@content;
}

@mixin favorite-icon($fill:none, $color:$black) {
	$svg: '<g fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="1.414"><path d="M15.5 8c0 4.142-3.358 7.5-7.5 7.5C3.857 15.5.5 12.142.5 8 .5 3.857 3.857.5 8 .5c4.142 0 7.5 3.357 7.5 7.5z" fill="#{$fill}" stroke-width=".75" stroke="#{$color}"/><path d="M10.146 4.1c-.912 0-1.708.55-2.146 1.27-.438-.72-1.234-1.27-2.147-1.27C4.47 4.1 3.35 5.204 3.35 6.566c0 .68.272 1.305.716 1.76C5.072 9.363 8 12.556 8 12.556s2.928-3.193 3.935-4.23c.443-.455.715-1.08.715-1.76 0-1.362-1.12-2.466-2.504-2.466" fill="#{$color}" fill-rule="nonzero"/></g>';

	@include multiple-background(wrap-svg-uri($svg, '0 0 16 16'));

	@content;
}

@mixin edit-icon($fill:none, $color:$black) {
	$svg: '<path d="M15.5 8c0 4.142-3.357 7.5-7.5 7.5C3.858 15.5.5 12.142.5 8 .5 3.858 3.858.5 8 .5c4.143 0 7.5 3.358 7.5 7.5z" fill="#{$fill}" stroke="#{$color}" stroke-width=".748"/><path d="M10.557 3.87l-.787.788 1.574 1.572.787-.787-1.57-1.573zM9.375 5.05L5.05 9.378l1.573 1.572 4.326-4.327L9.372 5.05zM4.762 9.9l-.89 2.23 2.228-.892L4.762 9.9z" fill="#{$color}" fill-rule="nonzero" clip-rule="evenodd" stroke-miterlimit="10"/>';

	@include multiple-background(wrap-svg-uri($svg, '0 0 16 16'));

	@content;
}

@mixin attach-icon($fill:none, $color:$black) {
	$svg: '<path d="M15.5 8c0 4.142-3.358 7.5-7.5 7.5C3.858 15.5.5 12.142.5 8 .5 3.857 3.858.5 8 .5c4.142 0 7.5 3.357 7.5 7.5z" fill="#{$fill}" stroke="#{$color}" stroke-width=".748"/><path d="M12.322 5.82c-.47-.484-1.094-.75-1.76-.75-.664 0-1.29.266-1.758.75l-3.32 3.43c-.755.78-.755 2.05 0 2.83.37.38.86.59 1.385.59.52 0 1.01-.21 1.38-.592l2.482-2.564c.55-.568.55-1.49 0-2.057-.27-.28-.63-.432-1.012-.432-.383 0-.74.153-1.01.432l-1.867 1.93.53.513L9.24 7.972c.13-.135.3-.208.48-.208s.354.073.483.208c.275.282.275.744 0 1.028L7.72 11.565c-.457.473-1.25.473-1.71 0-.48-.497-.48-1.304 0-1.8l3.32-3.43c.33-.34.767-.527 1.23-.527.464 0 .9.188 1.228.526.687.71.687 1.863 0 2.573L9.09 11.7l.53.514 2.7-2.794c.96-.992.96-2.607 0-3.6M5.413 4.248V5.84h1.672v.688H5.413v1.607h-.785V6.528h-1.67V5.84h1.67V4.248h.785z" fill="#{$color}" fill-rule="nonzero" clip-rule="evenodd" stroke-miterlimit="10"/>';

	@include multiple-background(wrap-svg-uri($svg,'0 0 16 16'));

	@content;
}

@mixin clip-icon($fill:none, $color:$black) {
	$svg: '<circle fill="none" stroke="#{$color}" stroke-width="0.75" stroke-miterlimit="10" cx="7.735" cy="7.734" r="7.36"/>
	<path fill="#{$color}" d="M11.014,4.743c-0.46-0.477-1.073-0.737-1.726-0.737c-0.653,0-1.267,0.261-1.728,0.737L4.303,8.108
		c-0.739,0.766-0.739,2.011,0,2.776c0.363,0.375,0.846,0.579,1.361,0.579c0.513,0,0.998-0.204,1.359-0.58l2.436-2.516
		c0.539-0.559,0.539-1.462,0-2.02C9.194,6.075,8.841,5.925,8.468,5.925c-0.378,0-0.73,0.15-0.995,0.423L5.642,8.24l0.521,0.506
		l1.833-1.892C8.123,6.722,8.29,6.649,8.468,6.649c0.175,0,0.345,0.072,0.472,0.205c0.27,0.277,0.27,0.731,0,1.009L6.502,10.38
		c-0.449,0.464-1.228,0.464-1.678,0c-0.471-0.487-0.471-1.279,0-1.768l3.259-3.364c0.323-0.334,0.752-0.518,1.206-0.518
		c0.455,0,0.882,0.184,1.205,0.516c0.674,0.696,0.674,1.829,0,2.525L7.84,10.511l0.52,0.507l2.654-2.742
		C11.958,7.301,11.958,5.717,11.014,4.743"/>';

	@include multiple-background(wrap-svg-uri($svg,'0 0 16 16'));

	@content;
}



@mixin flag-icon($fill:none, $color:$black) {
	$svg: '<path d="M15.5 8c0 4.142-3.358 7.5-7.5 7.5C3.857 15.5.5 12.142.5 8 .5 3.857 3.857.5 8 .5c4.142 0 7.5 3.357 7.5 7.5z" fill="#{$fill}" stroke="#{$color}" stroke-width=".748"/><path d="M10.213 8.362c-.14.044-.288.066-.446.066-.444 0-.94-.164-1.468-.335-.626-.205-1.27-.415-1.973-.415-.152 0-.3.01-.448.03V5.036c.14-.044.287-.066.447-.066.443 0 .94.162 1.466.335.624.204 1.27.416 1.973.416.15 0 .3-.01.446-.03v2.67zm-.446-3.454c-1.147 0-2.293-.75-3.44-.75-.42 0-.838.1-1.258.375h-.097v7.31h.73v-3.27c.21-.06.416-.083.624-.083 1.146 0 2.292.75 3.44.75.418 0 .838-.1 1.257-.375V4.533c-.42.275-.84.375-1.258.375" fill="#{$color}" fill-rule="evenodd" clip-rule="evenodd" stroke-miterlimit="10"/>';

	@include multiple-background(wrap-svg-uri($svg, '0 0 16 16'));

	@content;
}

@mixin logo-icon($fill:$scampi) {
	$svg: '<path d="M30.283.434C13.558.434 0 13.992 0 30.717S13.558 61 30.283 61c16.726 0 30.285-13.558 30.285-30.283S47.008.434 30.283.434zM42.01 17.327c2.23 0 4.464.85 6.164 2.548 3.398 3.4 3.398 8.93 0 12.33l-10.92 10.82-2.65 2.65c-1.166 1.16-2.724 1.81-4.385 1.81h-.04c-1.66 0-3.22-.65-4.39-1.82l-2.59-2.59-.69-.69-10.12-10.11c-3.4-3.4-3.4-8.93 0-12.33 3.39-3.4 8.93-3.4 12.32 0l5.48 5.48 5.65-5.56c1.69-1.7 3.92-2.54 6.15-2.54l.01.01.01-.002v-.006zm0 2.574c-1.573 0-3.147.6-4.344 1.8l-6.324 6.22-.03-.04-1.142 1.14-7.268-7.27c-2.395-2.4-6.293-2.4-8.687 0-2.396 2.39-2.396 6.29 0 8.69l9.883 9.88c.193-1.26.767-2.47 1.734-3.44l2.55-2.55-8.874-8.87c-.456-.46-1.198-.46-1.654 0-.22.22-.34.51-.34.82 0 .32.12.61.34.83l7.216 7.22-1.82 1.82-7.217-7.22c-.705-.7-1.094-1.64-1.094-2.64 0-1 .38-1.94 1.09-2.64 1.46-1.46 3.83-1.46 5.29 0l8.87 8.87 8.87-8.87c1.46-1.46 3.83-1.46 5.29 0 .7.71 1.09 1.65 1.09 2.65 0 1.007-.39 1.94-1.1 2.65l-7.12 7.12-1.82-1.82 7.12-7.12c.22-.22.34-.51.34-.824 0-.32-.12-.61-.34-.83-.46-.46-1.2-.46-1.65 0L32 34.328l2.55 2.55c.97.97 1.544 2.18 1.737 3.44l10.05-9.96c2.39-2.39 2.392-6.29-.003-8.68-1.196-1.2-2.77-1.8-4.342-1.8l.018.02v.003zM30.2 36.17l-2.548 2.548c-1.414 1.42-1.415 3.72 0 5.13.682.69 1.593 1.06 2.567 1.06.22 0 .44-.02.66-.06.68-.13 1.33-.46 1.86-.99 1.41-1.41 1.41-3.71 0-5.13l-2.55-2.55h.01v-.008z" fill="#{$fill}" fill-rule="nonzero" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"/>';

	@include multiple-background(wrap-svg-uri($svg));
}


/// @name Carousel controls
@mixin carousel-caret-left($fill:$edward) {
	$svg: '<path d="M11.99.29L4.59 8l7.4 7.71-.3.29-7.68-8 7.68-8z" fill="#{$fill}" stroke-miterlimit="1.414" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"/>';

	@include multiple-background(wrap-svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">#{$svg}</svg>'));

	@content;
}

@mixin carousel-caret-right($fill:$edward) {
	$svg: '<path d="M4.01 15.71L11.41 8 4.01.29l.3-.29 7.68 8-7.68 8z" fill="#{$fill}" stroke-miterlimit="1.414" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"/>';

	@include multiple-background(wrap-svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">#{$svg}</svg>'));

	@content;
}
