////
/// Base:Variables:Fonts:_sizes
///
/// @author K Huehn
/// @content Font sizes
///
////

/// @name Base
$base-font-size:                    14px !default;
$font-base-size:                    $base-font-size !default;

/// @name Social media icons
$social-icons-size:                $base-font-size * .9 !default;