////
/// Base:Variables:Colors:_base
///
/// @author K Huehn
/// @content Base colors
///
////

$black:                             #000 !default;
$white:                             #fff !default;
$red:                               #f00 !default;
$transparent:                       rgba($black, 0) !default;

$martinique:                        #2c2b49 !default;
$space:                             #303939 !default;
$mineshaft:                         #333    !default;
$turquoise:                         #49d0bf !default;
$scampi:                            #6563a4 !default;
$plum:                              #805275 !default;
$edward:                            #aeb8b8 !default;
$iron:                              #d7d9d9 !default;
$mellow:                            #dee458 !default;
$selago:                            #dfdfea !default;
$mercury:                           #e5e5e5 !default;
$haze:                              #e6e9e9 !default;
$gallery:                           #ebebeb !default;
$haze:                              #eff1f1 !default;
$light_grey:                        #f0f0f0 !default;
$error-red:                         #ff0000 !default;
$wild_sand:                         #f4f4f4 !default;
