////
/// Base:Variables:Colors:_carousel
///
/// @author K Huehn
/// @content Carousel colors
///
////


/// @name Carousel
$carousel-colors:                   (
                                      bullet:        $haze,
                                      bullet-active: $edward
                                    ) !default;