////
/// Base:Variables:Colors:_sortable
///
/// @author K Huehn
/// @content Sortable colors
///
////

$sortables-colors:   (
                       background:    $white,
                       border:        $plum,
                       ghost-border:  $iron
                     ) !default;