.newUserSplashModalHTML > .modal-dialog > .modal-content {

  .vid-img {
    max-height: 100pt;
    max-width: 100%;
    cursor: pointer;
  }
  > .modal-body {
    > p {
      text-align: center;
    }
    > h2 {
      text-align: left;
    }
    > h3 {
      text-align: center;
      color: $scampi;
    }

    > .modal-body-inner {
      &.hidden {
        display: none;
      }

      > .brand-container > a {
        width: 100%;
        height: 30px;

        > .brand {
          display: inline-block;
          height: 30px;
        }
      }

      > .welcome {
        margin-top: 0px;
      }

      > .clip-share-earn{
        background-color: $light_grey;
        padding: 12px;

        > .clip,
        > .share, 
        > .earn {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          > h2 {
            margin: 0px;
            flex-shrink: 0;
            flex-grow: 0;
            text-align: left;

            &.number {
              flex-basis: 25px;
            }
            // Label was bleed through by other damn part's of site
            // made name longer to compensate
            &.large-label {
              flex-basis: 90px;
              color: $scampi;
            }
          }

          > p {
            flex-grow: 1;
            flex-basis: 0px;
            min-width: 175px;
            margin: 12px;
            text-align: left;
            word-wrap: break-word;
          }
        }
      }

      > iframe {
        margin-bottom: 12px;
      }

      > .actions {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        max-width: 100%;
        > button {
          line-height: 100%;
          height: 40px;
          margin-left: 6px;
          margin-right: 6px;
          width: calc(50% - 12px);
          padding-top: 6px;
          padding-bottom: 6px;

          @include mobile-only {
            font-size: 3vw;
            margin-left: 3px;
            margin-right: 3px;
            width: calc(50% - 6px);
          }
        }
      }

      > p {
        text-align: center;
      }
    }
  }

  .new-user-modal-info {
    padding: 12px;
    > p {
      text-align: center;
    }
    > h3 {
      text-align: center;
      color: $scampi;
    }
  }
}
